<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Express Authentication</h1>
    <form action="/login" method="post">
      <h4>Log in:</h4>
      <div class="input-wrapper">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
      </div>
      <div class="input-wrapper">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      </div>
      <button type="submit" name="button">Go!</button>
    </form>
    <br>
    <br>
    <a href="/register">Click here to register</a>
    <br>
    <a href="/reset-password">Forgotten your password?</a>
    <% if(typeof message !== 'undefined') { %>
      <p><%= message %></p>
    <% } %>
  </body>
</html>
