<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form action="/register" method="post">
      <div class="input-wrapper">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
      </div>
      <div class="input-wrapper">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      </div>
      <button type="submit" name="button">Go!</button>
    </form>
  </body>
</html>
