<form class="" action="/reset-password" method="post">
  <h1>Password reset</h1>
  <h4>Enter your email address to reset your password</h4>
  <label for="email">Email</label>
  <input type="email" name="email" id="email" value="">
  <button type="submit" name="button">Go!</button>
</form>
<% if(typeof message !== 'undefined') { %>
  <p><%= message %></p>
<% } %>
